*{
    margin: 0;
}

body {
    background: url("../assets/JSBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#topnav a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-top: 30px;
    color: white;
}

#topnav a:hover{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: lightblue;
}

.historyLink{
    padding-right: 100px;
}

.htmlLink{
    padding-right: 100px;
}

.cssLink{
    padding-right: 100px;
}



.title {
    font-family: 'Courgette', cursive;
    font-size: 50px;
    background-image: url("../assets/title-background.jpg");
    height: 125px;
    color: rgb(240, 218, 80);
    text-align: center;
    margin: 0;
    z-index: 5;
    position: fixed;
    margin-top: 0;
    min-width: 100%;
    border-bottom: 2px inset darkgray;
}

section#sidebar{
    background-image: url("../assets/title-background.jpg");
    height: 140px;
    width: 200px;
    float: right;
    color: white;
    margin-top: 9em;
    border-radius: 5px;
    margin-left: 81%;
    border: 2px inset darkgray;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: fixed;
}

.resources {
    font-family: 'Raleway', sans-serif;
}



.gif{
    height: 200px;
    width: 221px;
    float: right;
    position: fixed;
    margin-top: 20em;
    margin-left: 3.7em;
    margin-left: 81%;
}

.resources a{
    color: white;
    font-size: 15px;
}

.resources a:hover {
    color: lightblue;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h2{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    background-image: url("../assets/title-background.jpg");
    position: relative;
    z-index: 4;
    color: rgb(240, 218, 80);
    text-align: center;
    margin-right: 22%;
    margin-left: 5%;
    border-radius: 20px;
}
.info {
    background-color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    z-index: 4;
    margin-left: 6%;
    margin-right: 23%;
    border-radius: 10px;
    padding: 5px 10px 15px 10px;
}

/* .forLoopInfo {
    background-color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    z-index: 4;
    padding: 15px 30px 15px 30px;
    margin-right: 23%;
    margin-left: 23%;
    border-radius: 10px;
} */

.forLoops{
    background-color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    z-index: 4;
    padding: 15px 30px 15px 30px;
    margin-right: 23%;
    margin-left: 6%;
    border-radius: 10px;
}

.code {
    background-color:lightgray;
    font-family: 'Raleway', sans-serif;
    font-size: 1px;
    border: 1px solid black;
    z-index: 4;
    margin-right: 25%;
    margin-left: 25%;
    }

.helloCode{
    background-color:lightgray;
    font-size: 14px;
    z-index: 4;
    height: 45px;
    width: 200px;  
    border: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;  
}

.functionCode {
    background-color:lightgray transparent;
    font-size: 14px;
    z-index: 4;
}

.forLoopCode {
    background-color:lightgray transparent;
    font-size: 14px;
    z-index: 4;
}

.functionCall{
    background-color:lightgray transparent;
    font-size: 14px;
    z-index: 4; 
}

.arrayInfo{
    background-color: gray;
    font-family: 'Raleway', sans-serif;;
    font-size: 25px;
    z-index: 4;
    margin-left: 6%;
    margin-right: 23%;
    border-radius: 10px;
    padding: 5px 10px 15px 10px;
}

.arrayCode{
    background-color:lightgray transparent;
    font-size: 14px;
    z-index: 4;
}

.indigoCode{
    background-color:lightgray;
    font-size: 14px;
    z-index: 4;
    height: 45px;
    width: 230px;  
    border: 1px solid black;
    margin-left: 33%; 
}

#footer {
    background-image: url("./assets/title-background.jpg");
    padding: 10px;
    text-align: center;
    color: white;
    }

#footer a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#footer a:hover{
    color: lightblue;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

.contactUsLink{
    padding-right: 75px;
    padding-left: 75px;
}

.addResourceLink{
    padding-right: 75px;
}

.addressLink{
    padding-right: 75px;
}
